body {
	background-color:lavender; 
	overflow: auto;
	height:20vw;
	weight:20vw;
}

.HEADER {
	border: 5px solid black;
	margin: 10px;
	margin-top: 0px;
	text-align: center;
	height:10vw;
	width:97vw;
	color:blueviolet;
	overflow: hidden;
}

.links {
	display: inline-block;
	width: 220px;
	border: 1px solid black;
	padding: 10px;
	text-align: justify;
	text-align: left;
	height: 290px;
	vertical-align: top;
	height: 31vw;
	width: 17.7vw;
	overflow: hidden;
}
.About-me {
	border: 1px solid black;
	display: inline-block;
	height: 300px;
	font-size: 16px;
	padding: 10px;
	text-align: justify;
	text-align: center;
	height:31vw;
	width:77vw;
	color:#948700;
	overflow: hidden;
}
#LINKS {
	text-align: center;
	color: #93308A;
	height: 20px;
}
a {
	
	color: #93308A;
	height:20px;
}


#dreamsP {
	display: inline-block;
	width: 1180px;
	border: 1px solid black;
	padding: 10px;
	text-align: justify;
	text-align: center;
	height: 100px;
	vertical-align: center;
}



.sites {
	display:inline-block;
}

.homepage {
	font-size: 23px;
	color:#6341D5;
	text-align: left;
}



#homepage {
	font-size: 25px;
	color: cornflowerblue;
}




#PenguinH {
	text-align: center;
}
.Gunter {
	border: 1px solid black;
	padding: 5px;
	margin: 4px;
}
.row1{
	color:black;
	background-color:aquamarine;
	border: 1px solid black;
	margin-right: -5px;
	display: inline-block;
	width: 230px;
	height: 60px;
	vertical-align: bottom;
	white-space: nowrap;
	text-align: center;
}
.row2{
	color:black;
	background-color: aqua;
	border: 1px solid black;
	margin-right: -5px;
	display: inline-block;
	width: 400px;
	height: 60px;
	vertical-align: bottom;
	white-space: nowrap;
	text-align: center;
}
.row3{
	color:black;
	background-color:#667DD6;
	border: 1px solid black;
	margin-right: -5px;
	display: inline-block;
	width: 140px;
	height: 60px;
	vertical-align: bottom;
	white-space: nowrap;
	text-align: center;
}
.row4{
	color:black;
	background-color:#2CC08F;
	border: 1px solid black;
	margin-right: -5px;
	display: inline-block;
	width: 200px;
	height: 60px;
	vertical-align: bottom;
	white-space: nowrap;
	text-align: center;
}
.row5{
	color:black;
	background-color:#8BEAED;
	border: 1px solid black;
	margin-right: -5px;
	display: inline-block;
	width: 170px;
	height: 60px;
	vertical-align: bottom;
	white-space: nowrap;
	text-align: center;
}
#plus, #minus, #counter {
	display:inline-block;
	margin: 10px;
	
}


.question {
	display: block;
}








